*{
  box-sizing:border-box;
}

body{
  margin:0;
}

.container{
  background: rgb(117, 198, 209);
  /* width:900px; */
  /* height: 800px; */
  display:flex;
  /* flex-wrap:wrap; */
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.item{
  background: rgb(230, 255, 205);
  width:400px;
  height:200px;
  margin:10px;
  display: flex;
  justify-content:center;
  align-items:center;
}
