*{
  box-sizing:border-box;
}

@font-face{
  font-family: "swiss_721bold";
  src: url("swiss-721-bold.ttf")
}

@font-face{
  font-family: "hk_grotesk";
  src: url("HKGrotesk-Regular.ttf");
}

.main-wrapper {
  max-width: 42em;
  margin: 10em auto;
  padding-left: 10px;
  padding-right: 10px;
}

.area{
  max-width:42em;
  position: fixed;
  top:10%;
  left: 50%;
  /* margin-left:-21em; */
  transform: translate(-50%,-50%)
}

.image{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

figcaption{
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

img{
  border: 0
}

a{
  color: #ff66ff;
  cursor: pointer;
  text-decoration: none;
  border-bottom: none;
}

a:hover{
  background: #ffff00;
}

h1{
  color: #ff66ff;
  cursor: pointer;
  font-size: 2em;
  line-height: 1.25em;
  margin-bottom: -0.5em;
  font-weight: normal;
  text-transform: none;
  font-family: "swiss_721bold";
  text-align: center;
  margin-bottom: 0em;
  margin-top: 4em;
}


body{
  margin:0;
  background:#f7f7f7;
  color: #333333;
  font-family: "hk_grotesk";
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.post-content{
  font-size: 1.25em;
  line-height: 1.25em;
}

.logo{
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: none;
}

.footer{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  font-size: .6em;
  line-height: 1.25em;
}

.foot{
  margin: 0 !important
}

.main-footer{
  margin-top: 4em;
  text-align: left;
  margin-bottom: 6em;
  width: 100%;
  font-size: .75em;
  border-top: #333333 solid 1px;
}

.logo a:hover{
  background: none;
}
